img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}
body{
    background-color: #2E2E2E;
}
ul{
    list-style-type: square;
    color: white;
}
a{
    color: white;
}
p{
    color: white;
}
h3{
    color: white;
}
h2{
    color: white;
}
h1{
    color: white;
}